#header {
    width: 100%;   
    border: 1px solid black;
    background-color:red;
}

#header:after, .post:after {
    clear: both;
    display: table;
    content: "";
}

#profile-picture {
    height: 100px;
    width: 100px;
    float: left;
}

#title {
    float: left;   
    margin-left: 50px;
}

#sidebar {
    border: 1px solid black;
    width: 25%;
    height: 500px;
    float: left;
}

#main {
    border: 1px solid black;
    width: 74%;
    height: 500px;
    float: left;
}

#wall {
    text-align: center;
    background-color:green;
}

#interests {
    margin-left: 10px;   
    background-color:blue;
}

.post {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.post-image1 {
 height: 50px;
 width: 50px;
 float: left;
}

.post-image2 {
 height: 50px;
 width: 50px;
 float: left;
}

.post-image3 {
 height: 50px;
 width: 50px;
 float: left;
}


.post-text1 {
    float: left;   
}

.post-text2 {
    float: left;   
}
.post-text3 {
    float: left;   
}
.dab{
    display:none;
}
.oof{
    display:none;
}
.spego{
    display:none;
}


#footer {
    float: right;   
}